body{
    background-color: #f5f5f5;
}
#titleoverlay {
    position: relative;
  }
  
#titleimg{
    height: 100vh;
    width: 100vw;
  }

#titlebg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
  }

  
  #titleoverlay:hover #titlebg {
    opacity: 0.75;
  }
  
  #titleoverlay:hover #titletext {
    text-align: center;
    text-shadow: 1.5px 1.5px black;
    color: white;
    font-size: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #titletext2{
    font-size: 30px;
    text-shadow: 1px 1px black;
  }

  #contentheader1{
    padding: 5rem 2rem;
      text-align: center;
      font-size: 42px;
  }
   #profilemt {
            display: flex;
            background-color: #f5f5f5;
            align-items: center;
            width: auto;
            height: auto;
            }

        #profilemt1, #profilemt2 {
            color: black;
            width: 100vw;
            height: auto;
            text-align: center;
            font-size: 24px;
            text-align: justify;
        }

        #earlyageimg{
            margin-left: 30%;
            margin-right: auto;
        }

        #charityimg{
            margin-left: 15%;
            margin-right: auto;
        }

        #contentheader2{
            margin-top: 10%;
              text-align: center;
              font-size: 42px;
          }

         #missionary {
            color: black;
            width: auto;
            height: auto;
            text-align: center;
            font-size: 24px;
            text-align: justify;
            padding: 3%;
            }